<!-- home.html -->
	 <div id="main">
	 <input type="hidden" name="formtype" value="home_page">
      
	<div id="offer_details" ng-controller="mainController">
	<div id="offers_div">
	<label id="offerdetail">Available Offers</label>
	</br>
  <input type="search" ng-model="q"  id="search_box"placeholder="filter offers..." />
  {{offers}}
  </div>`
  <div id="div_offer" ng-repeat="offer in offers|filter:q">
  <label id="text_size">Name of Offer :{{offer.name}}</label>
  <label id="text_size" >Description of offer : {{offer.desc}}</label>
  <label id="text_size" >Category of offer : {{offer.category}}</label>
  <label id="text_size" >Number of people needed for offer : {{offer.num_ppl_req}}</label>
  </div>
  </div>


	